html,
body {
  background: #c0c0c0; /* Меняется фон экрана, выбирается здесь */
  font: 13pt Arial, Helvetica, sans-serif; /* Шрифт теста */
}

/* Шапка сайта */

header {
  position: relative; /* Задаём блоку относительное позиционирование для того, чтобы затем размещать, в нём другие элементы и позиционировать относительно его границ поверх фоновой картинки и заголовка */
  height: 250px; /* Высота шапки */
  background-color: #ffffff; /* Фон шапки */
  margin-bottom: 5px; /* Нижний отступ шапки от остального контента */
  border-radius: 5px; /* Закругляются углы блока */
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px; /* Тень. Визуально приподнимает блок над оболочкой */
}

nav {
  background: #b9caff;
  float: left;
  width: 350px;
}

aside {
  /* Блок сайдбара */
  background-color: #ffffff; /* Фон блока */
  width: 180px; /* Ширина блока */
  padding: 10px; /* Отступ текста от краёв */
  float: right; /* Размещаем блок справа от других элементов, наплывание или обтекание справа). Если делать сайдбар слева, то значение right меняем на left */
  border-radius: 5px; /* Закругляем углы блока */
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px; /* Задаём блоку тень */
}

article {
  /* Блок контента */
  margin-bottom: 5px; /* Отступ блока статьи от блока подвала */
  width: 676px; /* Ширина статьи */
  padding: 10px; /* Отступ текста от краёв блока */
  background: #ffffff; /* Фон статьи */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
}

footer {
  /* Блок подвала */
  height: 80px; /* Высота блока подвала */
  background-color: #ffffff; /* Фон блока подвала */
  margin-bottom: 10px; /* Отступ снизу */
  border-radius: 5px; /* Закруглённые углы */
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px; /* Тень блока */
}